* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu_inner {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li {
   padding-left: 40px;
    padding-right: 40px;
}
