{
    box-sizing: border-box;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.box {
    background-color: #52cece;
}
.number {
    color: white;
    font-size: 20px;
}
.text {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.box_inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-align: start;
}

i.fa {
    font-size: 40px;
    color: white;
    padding-left: 40px;
}