* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info {
    background-color: #03251a;
}
.info_inner {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.item {
    text-align: center;
}
.number {
    color: #a1471f;
    font-size: 70px;
    font-weight: bold;
}
.text {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

